<%- include("templates/header") %> 

<body>

    <%- include("navbar") %>

    <div class="container mt-5">

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Buttons</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayDevs.length> 0) { %>
                    <% arrayDevs.forEach(dev=> { %>
                        <tr>
                            <td>
                                <%= dev.id %>
                            </td>
                            <td>
                                <%= dev.name %>
                            </td>
                            <td>@mdo</td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    
    <%- include("templates/footer") %> 